body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

.notify {
    right: 0;
    bottom: 0;
    margin: 20px;
    display: none;
    z-index: 1000;
    color: white;
    position: fixed;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(0, 214, 0);
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 100vh;
}

.heading {
    text-align: center;
}

.list-body {
    background-color: white;
    width: 80%;
    padding-top: 20px;
    border-radius: 10px;
}

.head-items {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.input input {
    margin: 0;
    width: 40vw;
    height: 35px;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
}

.add-item button {
    width: 20vw;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    border: 1px solid red;
    height: 39px !important;
    border-radius: 0 5px 5px 0;
    background-color: rgb(255, 17, 17);
}

.add-item:hover button {
    background-color: rgb(235, 0, 0);
}

.item-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.item {
    width: 80%;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px auto;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
}

.item:hover {
    background-color: rgb(216, 216, 216);
}

.item .part {
    width: 100%;
    padding: 5px;
}

.item .item-title {
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 15px;
    margin: auto 0;
}

.item .action-btns {
    display: flex;
    border-radius: 5px;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-end;
}

.item .action-btns button {
    height: 10px;
    font-weight: bold;
    padding: 15px 15px;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.item .action-btns .update-item {
    background-color: green;
}

.item .action-btns .dlt-item {
    background-color: red;
}